<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Web App Template</title>

  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">


  <script language="javascript">
      var theScroll;
      function scroll() {
          theScroll = new iScroll('wrapper');
      }
      document.addEventListener('DOMContentLoaded', scroll, false);
  </script>
</head>

<body>


<div id="wrapper">
  <div id="scroll-content">
    <header>
      Zaytoon Wellness Survey
    </header>
    <div class="mainContent">
      Zaytoons Wellness is considering offering a special health outreach primarily to its restaurant customers.
      I have long been concerned with the unbelievable harm that TOXINS are causing to our bodies.
      <br>
      Many health professionals arc convinced that toxicity may lead to cancer, heart disease, and other serious
      ailments,
      <br><br>
      We must do all that is practical to reduce toxins within our bodies. My research indicates that Infrared SAUNA
      treatments are a wonderful way to reduce toxins and improve overall health. Just some of the many benefits include
      clearer skin and weight loss. 30 minutes can burn up to 600 calories!.
      <br>
      The sauna session is safe and will leave you refreshed and conveniently, can be done during a lunch hour if one is
      pressed for time. Bring some comfortable changing clothes. Shower is not required, and a wet towels will be
      provided. Showers are not needed because when you are using this type of sauna your body needs to maintain a
      steady temperature in order to receive the prolonged health benefits.So Hop into the sauna and get all the health
      benefits
      <br><br>
      My question to you is:
      Do you think this type of wellness service would be of interest to Zaytoons patrons assuming it can be affordably
      priced?
      <br><br>
      Thank you so much, Annah
    </div>


  </div>
</div>

<footer style="width: 100%">
  <button class="btn btn-large" id="no" href="#">No</button>
  <button class="btn btn-large btn-success" id="yes" href="#">Yes</button>
</footer>

<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​